<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/home" class="home-link">Home</span>
    <span class="example-spacer"></span>
    <button mat-flat-button routerLink="users">Users</button>
    <button mat-flat-button style="margin-left: 20px;" routerLink="create-blog-entry">Create Post</button>
    <mat-form-field style="margin-left: 20px;" name="loginRegisterDropdown">
      <mat-select placeholder="Login">
        <mat-option (click)="navigateTo('login')">Login</mat-option>
        <mat-option (click)="navigateTo('register')">Register</mat-option>
        <mat-option (click)="navigateTo('update-profile')">Update Profile</mat-option>
        <mat-option (click)="logout()">Logout</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
